.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.form-container {
    text-align: center;
    width: 40vw;
    height: 30vh;
    border: 3px solid #dedede;
    box-shadow: 3px 4px 10px 3px #dedede;
}
.form-container .form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: inherit;
    justify-content: space-around;
}

.form-container .form .input-field input {
    justify-self: center;
    align-self: center;
    padding: 5px;
    margin-bottom: 6px;
    width: 50%;
    background-color: #f2f2ed;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 4px 4px #dedede
}

.form-container .form button {
    align-self: center;
    width: 60%;
}

.select {
  appearance: none;

  background-color: #f9f9f9;
  border: 2px solid #dedede;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: border 0.3s ease;
}

.select:hover {
  border-color: #888;
}

.select:focus {
  border-color: #007bff;
  outline: none;
}

